/* RESETS */

html,body,main,header,footer,section,div,nav,a,h2,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-colour);
}

/* CUSTOM PROPERTIES*/

:root {
  --neomorphic-light: #FFFFFF;
  --neomorphic-mid: #F0F0F0;
  --neomorphic-mid-dark: #EBEBEB;
  --neomorphic-dark: #B4B4B4;
  --neomorphic-light-shadow: rgba(255,255,255,.6);
  --neomorphic-dark-shadow: rgba(180,180,180,.5);
  --dark-shadow: rgba(100,100,100,.5);
  --icon-colour: #505050;
  --text-colour: #404040;
  --active-colour: orange;
  --primary-colour: rgb(150,150,250);
}

/* SHELL */

html,body {
  height: 100%;
}

html {
  width: 100vw;
  background-color: var(--neomorphic-mid);
}

nav {
  width: 90vw;
  height: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STATE INFO */

#current-state {
  width: 150px;
  margin-left: calc(45vw - 75px);
  text-align: center;
  color: var(--text-colour);
  user-select: none;
}

/* MAIN DISPLAY */

#main-window {
  width: 98vw;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5vw;
  box-shadow: inset 0 5px 5px var(--neomorphic-dark-shadow), inset 0 -5px 5px var(--neomorphic-light-shadow);
  background-color: var(--neomorphic-mid-dark);
}

/* MAIN BUTTONS */

.app-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  color: var(--text-colour);
  background-color: var(--neomorphic-mid);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
}

/* SETTINGS BUTTON */

.settings-icon , .filter-icon , .close-icon {
  fill: var(--icon-colour);
  transition: all 1s;
}

.settings-icon:hover {
  transform: rotate(95deg);
  transition: all 1s;
}

.settings-active {
  animation: settings-activate 1s ease-in-out forwards;
}

.settings-inactive {
  animation: settings-deactivate 1s ease-in-out forwards;
}

@keyframes settings-activate {
  0% {transform: rotate(0deg);}
  100% {fill: var(--active-colour); transform: rotate(360deg);}
}

@keyframes settings-deactivate {
  0% {fill: var(--active-colour); transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}

/* FILTER BUTTON */

#app-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-nav {
  pointer-events: none;
}

.filter-nav .app-button {
  pointer-events: auto;
}

.filter-icon .f1 , .f3 {
  transition: all .3s;
}

.filter-icon:hover .f1{
  transform: translateY(2px);
}

.filter-icon:hover .f3{
  transform: translateY(-2px);
}

.filter-icon path {
  animation: filter-ready 2s ease-out infinite;
}

.filter-icon path:nth-of-type(2) {
  animation-delay: .25s;
}

.filter-icon path:nth-of-type(3) {
  animation-delay: .5s;
}

@keyframes filter-ready {
  from {fill: var(--active-colour);}
}

.filter-sub-button {
  width: 40px;
  height: 40px;
}

/* SETTINGS SECTION */

.settings {
  width: 80%;
  height: 75%;
  padding: 5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 5vw;
  color: var(--text-colour);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
  transition: all 1s;  /* this animates it growing and shrinking when orientation changes */
}

#animations , #theme , #about , #contact {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme , #about , #contact {
  margin: 2vh 0 0;
}

hr {
  width: 90%;
  margin: 4vh 0 2vh;
  color: var(--neomorphic-light-shadow);
}

.toggle-section {
  display: flex;
  align-items: center;
}

.toggle-section p {
  width: 20px;
}

.toggle-section p:nth-of-type(1) {
  text-align: right;
}

.toggle {
  width: 60px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5px 0;
  border-radius: 5vw;
  box-shadow: inset 0 5px 5px var(--neomorphic-dark-shadow), inset 0 -5px 5px var(--neomorphic-light-shadow);
  background-color: var(--neomorphic-mid-dark);
}

.toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 5px 0;
  background-color: var(--neomorphic-mid);
  background-color: var(--icon-colour);
  box-shadow: 0 -1px 2px var(--neomorphic-light-shadow), 0 1px 2px var(--neomorphic-dark-shadow);
  transition: background-color 1s;
}

.toggle-active {
  justify-self: start;
  margin: 0 auto 0 5px;
  background-color: var(--active-colour);
  transition: background-color .5s;
}

/* COMPONENTS */

.brain, .filter , .regions , .region-info {
  width: 90vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5vw;
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
  text-align: center;
  overflow: hidden;
  transition: all 1s;  /*this animates it growing and shrinking when orientation changes*/
}

/* REGION INFO */

.region-info {
  width: 95%;
  height: 85%;
  padding: 2% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  column-gap: 15px;
  border-radius: 5vw;
  color: var(--text-colour);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
}

.region-info h2 {
  margin: 0;
}

.region-info p {
  margin: 2% 0 0;
}

.filter p {
  width: 120px;
  text-align: left;
  grid-column: 3;
}

#close-region-info {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  flex-basis: 30px;
}

/* need to test this */
/* .section-hide {
  animation: section-hide .6s linear forwards;
  display: none;
} */

/* @keyframes section-hide {
  80% {
    background-color: var(--neomorphic-mid);
    color: var(--neomorphic-mid-dark);
  }
  100% {
    background-color: var(--neomorphic-mid-dark);
    box-shadow: 0 0px 0px var(--neomorphic-light-shadow), 0 0px 0px var(--neomorphic-dark-shadow);
    color: var(--neomorphic-mid-dark);
  }
} */

/* REGION GRID */

.region-grid {
  width: 80%;
  height: 98%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5,20%);
  grid-template-rows: repeat(5,20%);
  pointer-events: none;
  border-radius: 50%;
  border: 1px dashed gray;
}

.region-grid svg {
  pointer-events: none;
}

/* REGION */

.regions {
  pointer-events: none;
}

.region {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  user-select: none;
  font-size: .8em;
  transition: all .2s;
  filter: drop-shadow(0px 5px 3px var(--dark-shadow));
}

.region:before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-colour);
  clip-path: polygon(0 50%,15% 100%,85% 100%,100% 50%,85% 0,15% 0);
  content: "";
}

.region:hover {
  transform: translateY(3px);
  filter: drop-shadow(0px 0px 0px var(--dark-shadow));
  transition: all .2s;
}

#Brocas_Area {
  grid-column: 2/3;
  grid-row: 4/5;
}

#Wernickes_Area {
  grid-column: 4/4;
  grid-row: 4/5;
}

#Arcuate_Fascicullus {
  grid-column: 3/4;
  grid-row: 4/5;
  background: linear-gradient(to bottom, transparent 20%, var(--primary-colour) 20% 30%, transparent 30% 40%, var(--primary-colour) 40% 60%, transparent 60% 70%, var(--primary-colour) 70% 80%, transparent 80%);
}

#Arcuate_Fascicullus:before {
  background-color: transparent;
}

#be {
  grid-column: 3;
  grid-row: 2;
}

#we {
  grid-column: 4;
  grid-row: 4;
}

#bi {
  grid-column: 3;
  grid-row: 2;
}

#wi {
  grid-column: 4;
  grid-row: 4;
}

#bo {
  grid-column: 3;
  grid-row: 2;
}

#wo {
  grid-column: 2;
  grid-row: 2;
}

#bu {
  grid-column: 3;
  grid-row: 2;
}

#wu {
  grid-column: 4;
  grid-row: 2;
}

/* CARDS */

.card-name , .card-location , .card-function {
  width: calc(95% - 20px);
  flex-basis: 25px;
  margin: 10px 0 0;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
}

.card-expand {
  flex-grow: 1;
}

.card-function {
  margin-bottom: 15px;
}

.card-name , .card-location , .card-function {
  user-select: none;
}

/* DATA STATES */

[data-state="inactive"] {
  display: none;
}

[data-state="active"] {
  display: flex;
}

/* DATA BUTTONS */

[data-button="disabled"] {
  pointer-events: none;
}

[data-button="disabled"] svg {
  fill: var(--neomorphic-dark);
}

/* DATA ANIMATIONS */

[data-animation="none"] {
  animation: none;
}

/* SVG ANIMATIONS */

#animation-none {
  animation: none;
}

/* ANIMATIONS */

@media (orientation: landscape) {
  .brain , .filter , .regions , .region-info {
    width: calc(130vh - 150px);
    height: calc(90vh - 150px);
  }
  .settings {
    width: 50%;
    height: 78%;
    padding: 2% 0 0;
  }
  .card-name , .card-location , .card-function {
    width: calc(90% - 20px);
  }
}

/* NO ANIMATIONS */

/* perhaps add a data attribute animation play state paused */