/* RESETS */

html,body,main,header,footer,section,div,nav,a,h2,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* CUSTOM PROPERTIES*/

:root {
  --neomorphic-light: #FFFFFF;
  --neomorphic-mid: #F0F0F0;
  --neomorphic-mid-dark: #EBEBEB;
  --neomorphic-dark: #B4B4B4;
  --neomorphic-light-shadow: rgba(255,255,255,.6);
  --neomorphic-dark-shadow: rgba(180,180,180,.5);
  --icon-colour: #505050;
  --text-colour: #404040;
}

/* SHELL */

html,body {
  height: 100%;
}

html {
  width: 100vw;
  background-color: var(--neomorphic-mid);
}

nav {
  width: 90vw;
  height: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STATE INFO */

#current-state {
  width: 100px;
  margin-left: calc(45vw - 50px);
  text-align: center;
  color: var(--text-colour);
  animation: state-display 1s linear forwards; /* this does not seem to work */
}

@keyframes state-display {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* MAIN DISPLAY */

#main-window {
  width: 98vw;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5vw;
  box-shadow: inset 0 5px 5px var(--neomorphic-dark-shadow), inset 0 -5px 5px var(--neomorphic-light-shadow);
  background-color: var(--neomorphic-mid-dark);
}

/* MAIN BUTTONS */

.app-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-colour);
  background-color: var(--neomorphic-mid);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
}

/* SETTINGS BUTTON */

.settings-icon {
  fill: var(--icon-colour);
  transition: all 1s;
}

.settings-icon:hover {
  transform: rotate(95deg);
  transition: all 1s;
}

.settings-active {
  animation: settings-activate 1s ease-in-out forwards;
}

.settings-inactive {
  animation: settings-deactivate 1s ease-in-out forwards;
}

@keyframes settings-activate {
  0% {transform: rotate(0deg);}
  100% {fill: orange; transform: rotate(360deg);}
}

@keyframes settings-deactivate {
  0% {fill: orange; transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}

/* SETTINGS SECTION */

.settings-section {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 5vw;
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
  text-align: center;
  transition: all 1s;  /* not sure if needed */
}

/* BRAIN */

/* position in center large */
/* then move upwards and shrink */
/* to make room for expanding cards */
.brain {
  width: 90vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5vw;
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
  text-align: center;
  transition: all 1s;  /* not sure if needed */
}

.section-hide {
  animation: section-hide .6s linear forwards;
  display: none; /* added for testing purposes */
}

@keyframes section-hide {
  80% {
    background-color: var(--neomorphic-mid);
    color: var(--neomorphic-mid-dark);
  }
  100% {
    background-color: var(--neomorphic-mid-dark);
    box-shadow: 0 0px 0px var(--neomorphic-light-shadow), 0 0px 0px var(--neomorphic-dark-shadow);
    color: var(--neomorphic-mid-dark);
  }
}

.brain-section-top {
  animation: section-top 1s linear forwards;
}

@keyframes section-top {
  to {transform: translateY(calc(calc(calc(100% - 150px) - 50vw)) / 2);}
}

/* for making room for the cards */

.brain-section-move {
  animation: section-move 1s linear forwards;
}

@keyframes section-move {
  50% {transform: translateY(0vw) scale(.25);}
  100% {transform: translateY(-50vw) scale(.25);}
}

/* CARDS */

#region-info-cards {
  /* initial height 0 to make room for brain*/
  background-color: rgba(200,100,100,.5);
  display: none;
}

.card {
  width: 90vw;
  background-color: rgba(200,100,100,.5);
}

@media (orientation: landscape) {
  .brain {
    width: calc(130vh - 150px);
    height: calc(90vh - 150px);
  }
  .settings-section {
    width: 50%;
  }
}