/* RESETS */

html,body,main,header,footer,section,div,nav,a,h2,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-colour);
}

/* CUSTOM PROPERTIES*/

:root {
  --neomorphic-light: #FFFFFF;
  --neomorphic-mid: #F0F0F0;
  --neomorphic-mid-dark: #EBEBEB;
  --neomorphic-dark: #B4B4B4;
  --neomorphic-light-shadow: rgba(255,255,255,.6);
  --neomorphic-dark-shadow: rgba(180,180,180,.5);
  --icon-colour: #505050;
  --text-colour: #404040;
  --active-colour: orange;
}

/* SHELL */

html,body {
  height: 100%;
}

html {
  width: 100vw;
  background-color: var(--neomorphic-mid);
}

nav {
  width: 90vw;
  height: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STATE INFO */

#current-state {
  width: 100px;
  margin-left: calc(45vw - 50px);
  text-align: center;
  color: var(--text-colour);
  /* transition: all 1s; */
  /* animation: state-display 1s linear forwards; */
}

/* @keyframes state-display {
  from {opacity: 0;}
  to {opacity: 1;}
} */

/* MAIN DISPLAY */

#main-window {
  width: 98vw;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5vw;
  box-shadow: inset 0 5px 5px var(--neomorphic-dark-shadow), inset 0 -5px 5px var(--neomorphic-light-shadow);
  background-color: var(--neomorphic-mid-dark);
}

/* MAIN BUTTONS */

.app-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-colour);
  background-color: var(--neomorphic-mid);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
}

/* SETTINGS BUTTON */

.settings-icon , .filter-icon {
  fill: var(--icon-colour);
  transition: all 1s;
  /* background-color: pink; */
}

.settings-icon:hover {
  transform: rotate(95deg);
  transition: all 1s;
}

.settings-active {
  animation: settings-activate 1s ease-in-out forwards;
}

.settings-inactive {
  animation: settings-deactivate 1s ease-in-out forwards;
}

@keyframes settings-activate {
  0% {transform: rotate(0deg);}
  100% {fill: var(--active-colour); transform: rotate(360deg);}
}

@keyframes settings-deactivate {
  0% {fill: var(--active-colour); transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}

/* FILTER BUTTON */

#app-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s;
} */

/* .filter-button-ready {
  animation: filter-button-ready 3s ease-in infinite;
} */

/* @keyframes filter-button-ready {
  0% {color: var(--text-colour);}
  5% {color: var(--active-colour);}
  50% {color: var(--text-colour);}
} */

.filter-sub-button {
  width: 40px;
  height: 40px;
}

/* .filter-active {
  width: 98vw;
  border-radius: 5vw;
  justify-content: space-around;
  box-shadow: inset 0 5px 5px var(--neomorphic-dark-shadow), inset 0 -5px 5px var(--neomorphic-light-shadow);
} */

/* .filter-inactive {
  width: 0px;
  height: 0px;
  display: none;
} */

/* SETTINGS SECTION */

.settings {
  width: 80%;
  height: 75%;
  padding: 5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 5vw;
  color: var(--text-colour);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
  /* transition: all 1s;  this animates it growing and shrinking when orientation changes */
}

#animations , #theme , #about , #contact {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme , #about , #contact {
  margin: 2vh 0 0;
}

hr {
  width: 90%;
  margin: 4vh 0 2vh;
  color: var(--neomorphic-light-shadow);
}

.toggle-section {
  display: flex;
  align-items: center;
}

.toggle-section p {
  width: 20px;
}

.toggle-section p:nth-of-type(1) {
  text-align: right;
}

.toggle {
  width: 60px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5px 0;
  border-radius: 5vw;
  box-shadow: inset 0 5px 5px var(--neomorphic-dark-shadow), inset 0 -5px 5px var(--neomorphic-light-shadow);
  background-color: var(--neomorphic-mid-dark);
}

.toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 5px 0;
  background-color: var(--neomorphic-mid);
  background-color: var(--icon-colour);
  box-shadow: 0 -1px 2px var(--neomorphic-light-shadow), 0 1px 2px var(--neomorphic-dark-shadow);
  transition: background-color 1s;
}

.toggle-active {
  justify-self: start;
  margin: 0 auto 0 5px;
  background-color: var(--active-colour);
  transition: background-color .5s;
}

/* BRAIN */

/* COMPONENTS */

.brain, .filter , .regions , .region-info {
  width: 90vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5vw;
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
  text-align: center;
  overflow: hidden;
  transition: all 1s;  /*this animates it growing and shrinking when orientation changes*/
}

.settings {
  width: 80%;
  height: 75%;
  padding: 5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 5vw;
  color: var(--text-colour);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
}

.region-info {
  width: 95%;
  height: 85%;
  padding: 2% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  column-gap: 15px;
  border-radius: 5vw;
  color: var(--text-colour);
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
}

.region-info h2 {
  margin: 0;
}

.region-info p {
  margin: 2% 0 0;
}

.filter p {
  width: 120px;
  text-align: left;
}

.regions {
  pointer-events: none;
  display: grid;
}

.region {
  pointer-events: auto;
  user-select: none;
}

#close-region-info {
  height: 30px;
  width: 48px;
  border-radius: 8px;
  flex-basis: 30px;
}

.section-hide {
  animation: section-hide .6s linear forwards; /* need to test this */
  display: none;
}

@keyframes section-hide {
  80% {
    background-color: var(--neomorphic-mid);
    color: var(--neomorphic-mid-dark);
  }
  100% {
    background-color: var(--neomorphic-mid-dark);
    box-shadow: 0 0px 0px var(--neomorphic-light-shadow), 0 0px 0px var(--neomorphic-dark-shadow);
    color: var(--neomorphic-mid-dark);
  }
}

/* .brain-section-top {
  animation: section-top 1s linear forwards;
}

@keyframes section-top {
  to {transform: translateY(calc(calc(calc(100% - 150px) - 50vw)) / 2);}
} */

/* for making room for the cards */

/* .brain-section-move {
  animation: section-move 1s linear forwards;
}

@keyframes section-move {
  50% {transform: translateY(0vw) scale(.25);}
  100% {transform: translateY(-50vw) scale(.25);}
} */

/* CARDS */

.card-name , .card-location , .card-function {
  width: calc(95% - 20px);
  flex-basis: 25px;
  margin: 10px 0 0;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 -5px 5px var(--neomorphic-light-shadow), 0 5px 5px var(--neomorphic-dark-shadow);
  background-color: var(--neomorphic-mid);
}

.card-expand {
  flex-grow: 1;
}

.card-function {
  margin-bottom: 15px;
}

/* DATA STATES */

[data-state="inactive"] {
  display: none;
}

[data-state="active"] {
  display: flex;
}

/* DATA BUTTONS */

[data-button="disabled"] {
  pointer-events: none;
}

[data-button="disabled"] svg {
  fill: var(--neomorphic-dark);
}

/* ANIMATIONS */

@media (orientation: landscape) {
  .brain , .filter , .regions , .region-info {
    width: calc(130vh - 150px);
    height: calc(90vh - 150px);
  }
  .settings {
    width: 50%;
    height: 78%;
    padding: 2% 0 0;
  }
  .card-name , .card-location , .card-function {
    width: calc(90% - 20px);
  }
}

/* NO ANIMATIONS */

/* perhaps add a data attribute animation play state paused */